* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

:root {
  --green: hsl(160deg, 100%, 30%);

  --light-gold: hsl(45deg, 100%, 50%);
  --dark-gold: hsl(45deg, 100%, 40%);

  --black: hsl(0deg, 0%, 0%);
  --very-dark-grey: hsl(0deg, 0%, 10%);
  --dark-grey: hsl(0deg, 0%, 30%);
  --medium-grey: hsl(0deg, 0%, 40%);
  --light-grey: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

h1,
h2 {
  margin: 0;
}

header {
  font-size: 1.25rem;
  min-height: 50%;
  padding-top: 128px;
}

main {
  background-color: var(--light-grey);
  border-top: 8px solid var(--dark-grey);
  min-height: 50%;
  padding-top: 64px;
}

.max-width-wrapper {
  max-width: 512px;
  margin: 0 auto;
}

.intro-chunk {
 padding-left: 16px;
 padding-right: 160px;
}

.title {
  font-size: 2rem;
  padding-bottom: 18px;
}

.card {
  background-color: var(--white);
  border-bottom: 8px solid var(--dark-grey);
  padding: 16px;
  padding-top: 8px;
}

.indented-heading {
  background-color: var(--light-gold);    
  border-bottom: 8px solid var(--dark-gold);
  font-size: 1.25rem;
  margin-left: -24px;
  padding: 16px 32px;
  width: max-content;
}

strong {
  color: var(--green);
}